<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @typeofuser.user_type %>
</p>

<%= link_to 'Edit', edit_typeofuser_path(@typeofuser) %> |
<%= link_to 'Back', typeofusers_path %>
