<p id="notice"><%= notice %></p>

<p>
  <strong>Mailer name:</strong>
  <%= @mailername.mailer_name %>
</p>

<%= link_to 'Edit', edit_mailername_path(@mailername) %> |
<%= link_to 'Back', mailernames_path %>
