<p id="notice"><%= notice %></p>

<p>
  <strong>Mailer type:</strong>
  <%= @mailertype.mailer_type %>
</p>

<%= link_to 'Edit', edit_mailertype_path(@mailertype) %> |
<%= link_to 'Back', mailertypes_path %>
